body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; 
  background-size: cover;
  background-position: center;
  position: relative;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/*==Navigation=====================================*/
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color:rgb(243, 237, 237);

}
.menu{
  display: flex;
}
.menu li a{
  padding: 3px 10px;
  margin: 0px 15px;
  color: #3b3b3b;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all ease 0.3s;
  justify-content: space-between;
  white-space: nowrap;
}
.logo{
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #202020;
}
.logo span{
  color: #40aa54;
}
.right-nav{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
}
.right-nav a{
  width:40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}

.right-nav a span{
  position: absolute;
  top: -7px;
  right: -7px;
  width:20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  font-size: 0.6rem;
  font-weight: 500;
}
.menu li a:hover,
.menu .active{
  color: #40aa54;
  transition: all ease 0.3s;
}
main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-section {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; 
  z-index: 1; 
 
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.product img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.description {
  margin-top: 10px;
}

/*footer*/
.footer {
  background-color: #0e0606;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font:white;
  font-size: smaller;

}

.footer h3 {
  margin-top: 0;
}

.contact-info {
  flex: 1;
  color: white;
}

.social-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media ul li {
  margin-bottom: 20px;
}
.social-media ul li a {
  color: white;
  text-decoration: none;
}
.social-media ul li a:hover {
  color: green;
}

.quick-links {
  color: white;
  flex: 1;
  text-align: right;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links ul li {
  margin-bottom: 20px;
}
.quick-links ul li a {
  color: white; 
  text-decoration: none;
}
.quick-links ul li a:hover {
  color: green;
}
.footer .copyright {
  flex: 1;
  text-align: center;
  color: white;
}
